@use "variables";

/* ** MAIN NAVIGATION MENU ** */

.site-nav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  border: none;
}

.site-nav .trigger {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}

.site-nav .trigger .nav-icon-open {
  width: 26px;
  height: 26px;
  margin: 0 0 1rem auto;
  display: block;
}

.page-link {
  font-size: 0.9rem;
}

@media screen and (max-width: var(--bp-nav)) {
  .site-nav .trigger {
    display: none;
    flex-direction: column;
    position: absolute;
    background: #fff;
    left: auto;
    right: 0;
    margin: 0;
    top: 100%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 0.5rem 1rem;
    border: 3px solid var(--color-grey-500);
    border-radius: 0.5rem;
    z-index: 1001;
  }

  .site-nav .trigger a {
    display: block;
    margin: 0.5rem 0;
  }
}

.sub-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-icon {
  display: block;
}

/* Hide the menu icon when the menu is open */
.nav-trigger:checked + label .menu-icon {
  display: none;
}