@use "variables";

/* ** MAIN NAVIGATION MENU ** */

.site-nav {
  position: relative;
  border: none;
}

.site-nav .trigger {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}

.site-nav .trigger .nav-icon-open {
  width: 26px;
  height: 26px;
  margin: 0 0 1rem auto;
  display: block;
}

.page-link {
  font-size: 0.9rem;
}

@media screen and (max-width: var(--bp-nav)) {
  .site-nav {
    position: relative;
  }

  .site-nav label {
    display: inline-block;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    z-index: 1002;
  }
}

.trigger {
  position: fixed;
  top: 0;
  right: 0;
  width: auto;
  min-width: 200px;
  max-width: 90vw;
  height: auto;
  display: none;
  flex-direction: column;
  background: #fff;
  padding: 1rem;
  border-left: 3px solid var(--color-grey-500);
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 1001;
  pointer-events: auto;
}

.nav-trigger:checked ~ .trigger {
  display: flex;
}

.sub-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-icon {
  display: block;
}

/* Hide the menu icon when the menu is open */
.nav-trigger:checked + label .menu-icon {
  display: none;
}