/******************************/
/* FONT VARIABLES           */
/******************************/
$font-heading: 'Montserrat', 'Segoe UI', Roboto, sans-serif;
$font-body: 'Poppins', 'Segoe UI', Roboto, sans-serif;
$font-sustainamo: "alkaline", sans-serif;

/******************************/
/* COLOUR VARIABLES           */
/******************************/
$color-primary:    #204312;
$color-secondary: #BDC7B9;
$color-tertiary:  #607956;
$color-accent: #F4A261;
$color-background: #FBFBFB;
$color-grey-100: #f9f9f9;
$color-grey-500: #666666;
$color-grey-900: #222222;
$color-link:       #175076;
$color-link-hover:#1565a5;
$color-link-clicked: #4b3b6b;
$color-grey-border: #ddd;
$color-grey-light:  #eee;
$color-grey-separator: #aaa;

$phase1-colour: #e7f6f3;
$phase2-colour: #b7e5dc;
$phase3-colour: #6dcab8;

/******************************/
/* BREAKPOINTS                */
/******************************/
$bp-sm: 480px;
$bp-md: 768px;
$bp-lg: 1024px;
$bp-nav: 700px;
$bp-nav-dsk: 701px;
$bp-table: 600px;

/* COLOURS AND BREAKPOINTS TO BE USED */
:root {
  /* COLOURS */
  --color-primary:    #204312;
  --color-secondary: #BDC7B9;
  --color-tertiary:  #607956;
  --color-accent: #F4A261;
  --color-background: #FBFBFB;
  --color-grey-100: #f9f9f9;
  --color-grey-500: #666666;
  --color-grey-900: #222222;
  --color-link:       #175076;
  --color-link-hover:#1565a5;
  --color-link-clicked: #4b3b6b;
  --color-grey-border: #ddd;
  --color-grey-light:  #eee;
  --color-grey-separator: #aaa;

  --phase1-colour: #e7f6f3;
  --phase2-colour: #b7e5dc;
  --phase3-colour: #6dcab8;

  /* BREAKPOINTS */
  --bp-sm: #{$bp-sm};
  --bp-md: #{$bp-md};
  --bp-lg: #{$bp-lg};
  --bp-nav: #{$bp-nav};
  --bp-nav-dsk: #{$bp-nav-dsk};
  --bp-table: #{$bp-table};
}