<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    <div class="no-print">
      {%- include header.html -%}
    </div>

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    <div class="no-print">
      {%- include footer.html -%}
    </div>

    {% if page.layout == "home" %}
      <script src="/assets/js/hero.js"></script>
    {% endif %}
    {% if page.layout == "content" %}
    <script src="/assets/js/sticky-section-nav.js"></script>
     {% endif %}
  </body>

</html>
