{%- assign section = page.path | split: '/' | first -%}
{%- assign siblings = site.pages | where: "order" | where_exp: "p", "p.path contains section" | sort: "order" -%}
{%- assign index = siblings | index_of: page -%}
{%- assign prev = siblings[index | minus: 1] -%}
{%- assign next = siblings[index | plus: 1] -%}

<div class="post_navi">
  {% if prev %}
    <a class="post_navi-item nav_prev" href="{{ prev.url | relative_url }}">
      <span class="post_navi-arrow">←</span>
      <div class="post_navi-label">Previous</div>
      {{ prev.title }}
    </a>
  {% endif %}
  {% if next %}
    <a class="post_navi-item nav_next" href="{{ next.url | relative_url }}">
      <span class="post_navi-arrow">→</span>
      <div class="post_navi-label">Next</div>
      {{ next.title }}
    </a>
  {% endif %}
</div>
